* {
  box-sizing: border-box;
}

/* changes the whole document before other selectors*/
body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  font-family: 'Courier New', 'Courier', 'monospace';
}

/* changes to the headers */
header {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 align-items: center;
 padding: 1%;
 background-color: #0c524c;
 color: rgb(214, 216, 231);
 border-radius: 30px;
 margin: .3em;
 font-size: 2.5em;  
}

/* modifying the paragraphs */
p {
 color: rgb(214, 216, 231);
 font-size: 2em;
 font-style: oblique;
}

/* modifying the h1 header */
h1 {
 font-size: 240%;
 text-decoration: overline;
 display: flex;
 flex-wrap: wrap;
}

/* modifying the h2 header */
h2 {
 text-decoration: overline;
 color: rgb(214, 216, 231);
 font-size:3em;
}

/*modifying the h3 header*/
h3 {
  text-decoration: overline;
  color: rgb(214, 216, 231);
  font-size:1em;
 }


/* changes to nav bar list*/
nav ul {
 display: flex;
 justify-content: space-evenly;
 text-decoration: overline;
 font-weight: bolder;
 min-width: 30em;
 font: message-box;
}

/* changes to nav bar anchjors */
nav a {
 color: rgb(214, 216, 231);
 text-decoration:solid;
}

.top-section{
  display: flex; 
}

/* changes to the aside section - junior developer*/
aside {
 width: 39%;
 background-color: #0c524c;
 text-align: center;
 align-items: center;
 border-radius: 30px;
 margin-left: 1em;
 padding: 1%;
 margin: 0.3em;
 height: max-content;
 justify-content: space-evenly;
}

/* image adaptation in the aside section */
.aside-img {
  width: 74%;
  height: 80%;
}

/* Main section changes - manastack */
.main-section {  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #0c524c;
  justify-content: space-evenly; 
  margin: .3em;
  width: 59%;  
  height:max-content;
  text-align: center;
  border-radius: 30px;
  padding: 1%;
  
}

/* mana stack logo image  */
.main-article-img1 {
  width: 60%;
  height: 30%;
}

/* mana stack homepage image  */
.main-article-img2 {
  width: 80%;
  height: 60%;
}

/* scryfall and mtg on curve sectioins  */
.second-section {
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
background-color: #0c524c;
justify-content: space-evenly; 
margin: .3em; 
width: 100%;
float: none;
text-align: center;
border-radius: 30px;
padding: 1%;
}

/* pictures for scryfall and mtg on curve */
.second-article-img {
  width: 60%; 
}

/* footer styling at the bottom  */
footer {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 justify-content: space-evenly;
 float: left;
 padding: 1%;
 background-color: #0c524c;
 color: rgb(214, 216, 231);
 border-radius: 30px;
 margin: .3em;
 font-size: 3.5em; 
}


/* changes elements of the page when the screen of the user is different*/
@media screen and (max-width: 768px) {
  body .top-section {
    flex-direction: column;
  }
  .main-section {
    width: 95%;

  }
  #about-me {
    width: 95%;
  }
  nav ul {
    flex-direction: column;
  }
}